<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>TailormeChat</title>
    <meta name="description" content="FlatApp is a Premium, Responsive and Flat Bootstrap Admin Dashboard Template created by pixelcave and published on Themeforest. This is the demo of FlatApp! You need to purchase a license for legal use!">
	<meta name="author" content="pixelcave">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
	<link rel="stylesheet" href="/assets/bootstrap-2.0.css">
	<link rel="stylesheet" href="/assets/plugins-2.0.css">
	<link rel="stylesheet" href="/assets/main-2.0.css">
	<link rel="stylesheet" href="/assets/themes-2.0.css">
	<script src="/assets/modernizr-2.7.1-respond-1.4.2.min.js"></script>
</head>
<body>
	<div class="landing-container">
		<header class="navbar navbar-inverse navbar-fixed-top">
			<div class="text-center">
				<ul class="navbar-nav-custom nav-left">
					<li class="divider-vertical remove-margin"></li>
				</ul>
				<a href="#" class="brand">
					<img src="/assets/logo.png" alt="logo">
				</a>
			</div>
		</header>
		<div class="landing-header">
			<div class="landing-section">
				<div class="row">
					<div class="col-md-6 promo-text">
						<h1 class="push">TailormeChat</h1>
						<h3 class="push">Awesome app</h3>
						<h5>TailormeChat <i class="fa fa-heart"></i> by TMO</h5>
					</div>
					<div class="col-md-6 text-center promo-image">
						<img src="/assets/flatapp_landing_promo.png" alt="image" class="hidden-xs hidden-sm">
					</div>
				</div>
			</div>
		</div>
		<div class="landing-section-outer">
			<div class="landing-section">
				<div class="row">
					<div class="col-md-6 text-center">
						<%= link_to "Dashboard", welcome_path, :class=>"btn btn-lg btn-info"%>
						<%#= link_to "Sign up", new_user_path, :class=>"btn btn-lg btn-success" %>
					</div>
				</div>
			</div>
		</div>
		<div class="landing-section-outer grey">
			<div class="landing-section">
				<div class="row">
					<div class="col-sm-4">
						<h4><i class="fa fa-rocket"></i> Awesome Feature</h4>
						<p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis.</p>
					</div>
					<div class="col-sm-4">
						<h4><i class="fa fa-user"></i> Awesome Feature</h4>
						<p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis.</p>
					</div>
					<div class="col-sm-4">
						<h4><i class="fa fa-book"></i> Awesome Feature</h4>
						<p>Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis.</p>
					</div>
				</div>
				<div class="row"></div>
			</div>
		</div>
		<div class="landing-section-outer">
			<div class="landing-section">
				<div class="row"></div>
			</div>
		</div>
		<div class="landing-section-outer grey">
			<div class="landing-section remove-padding">
				<div id="landing-map" class="gmap-con"></div>
			</div>
		</div>
		<div class="landing-section-outer dark">
			<div class="landing-section">
				<div class="row">
					<div class="col-sm-3">
						<h4>Our Network</h4>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-globe"></i> <a href="javascript:void(0)">Link goes here</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<h4>Special Links</h4>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-globe"></i> <a href="javascript:void(0)">Link goes here</a></li>
						</ul>
					</div>
					<div class="col-sm-6">
						<h4>About</h4>
						<p><span id="year-copy"></span> &copy; <strong>tmo</strong><p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>