
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>signed out</title>
<meta name="description" content="FlatApp is a Premium, Responsive and Flat Bootstrap Admin Dashboard Template created by pixelcave and published on Themeforest. This is the demo of FlatApp! You need to purchase a license for legal use!">
<meta name="author" content="pixelcave">
<meta name="robots" content="noindex, nofollow">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
<link rel="stylesheet" href="/assets/bootstrap-2.0.css">
<link rel="stylesheet" href="/assets/plugins-2.0.css">
<link rel="stylesheet" href="/assets/main-2.0.css">
<link rel="stylesheet" href="/assets/themes-2.0.css">
<script src="/assets/modernizr-2.7.1-respond-1.4.2.min.js"></script>
</head>
<body>
<img src="/assets/full_background.jpg" alt="Login Full Background" class="full-bg">
<div id="lock-container">
<h1 class="text-center animation-slideDown">
<img src="/assets/image_120x120_light.jpg" alt="avatar" class="img-circle push">
</h1>
<div class="block block-themed animation-slideUp">
<div class="block-title text-center">
<h3>
<strong>Thanx</strong> For<br><small><em>visiting</em></small>
</h3>
</div>
<div class="block-content">
<form action="index.php" method="post" class="form-horizontal">
<div class="form-group">
<div class="col-xs-12">

</div>
</div>
</form>
<p class="text-center">
<a href="/home" class="btn btn-inverse"><small>Home</small></a>
</p>
</div>
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>
<script src="/assets/bootstrap.min-2.0.js"></script>
<script src="/assets/plugins-2.0.js"></script>
<script src="/assets/main-2.0.js"></script>
</body>
</html>